<div class="post-preview show" {{bind-attr style=model.PPbackground}}>
    <div class="post-preview-info show">
        <div class="post-preview-hr"></div>
        <h1 class="post-preview-title">{{model.title}}</h1>
    </div>
    <div class="author-image"></div>

</div>
<br>
<div class="post-info container-fluid">
    <div class="row">
        <div class="col-md-6 col-md-offset-2">
            <div class="created_by">
                by <b class="author">post author</b>
            </div>
        </div>
        <div class="col-md-4 text-right">
            <i class="fa fa-calendar-o"></i>
            {{postInfoDate model.created_at}}
            <span class="tag">
                <i class="fa fa-tag"></i>
                Ember.js Ember.js Ember.js
            </span>
        </div>
    </div>
    <p></p>
    <hr>
</div>
<div class="container">
    <div class="post-body">
        {{model.body}}
    </div>
    <hr>
    <div class="post-share">
        <span class="title">SHARE THIS POST</span>
        <p></p>
        <span class="social-buttons">
            <span class="fa-stack">
              <i class="fa fa-square fa-stack-2x"></i>
              <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
            </span>
            <span class="fa-stack">
              <i class="fa fa-square fa-stack-2x"></i>
              <i class="fa fa-google-plus fa-stack-1x fa-inverse"></i>
            </span>
            <span class="fa-stack">
              <i class="fa fa-square fa-stack-2x"></i>
              <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
            </span>
            <span class="fa-stack">
              <i class="fa fa-square fa-stack-2x"></i>
              <i class="fa fa-vk fa-stack-1x fa-inverse"></i>
            </span>
        </span>
    </div>
    <hr>
</div>


