<div class="post-preview show" {{bind-attr style=PPbackground}}>
    <div class="post-preview-info show">
        <div class="post-preview-hr"></div>
        <h1 class="post-preview-title">{{model.title}}</h1>
    </div>
    <div class="author-image"></div>

</div>
<br>
<div class="post-info container-fluid">
    <div class="row">
        <div class="col-md-7 col-md-offset-2">
            <div class="created_by">
                by post author
            </div>
        </div>
        <div class="col-md-3">
            <i class="fa fa-calendar-o"></i>
            {{postInfoDate model.created_at}}
        </div>

    </div>
</div>

