<div class="wrapper about">
    <h2 id="skills">Skills</h2>
    <div class="skills">
        {{#each skill in model.skills}}
            <div class="skill">
                {{#view 'pieChart' data-percent=skill.value name=skill.name}}
                    <span class="h2 step font-bold">{{skill.name}}</span>
                    <div class="easypie-text text-muted">More than {{skill.years}} years</div>
                    <!--<div class="font-bold m-t">{{!skill.name}}</div>-->
                {{/view}}
                <br>
                <div class="skill-level">{{skill.level}}</div>
            </div>
        {{/each}}
    </div>

    <br>

    <h2 id="experience">Experience/Education</h2>
    <div class="charts">
        {{#view "experienceChart" elements=model.experiences}}
            <!--<svg width="100%" height="120" viewBox="0 0 1000 120" preserveAspectRatio="xMinYMax meet">-->
                {{!#each experience in model.experiences}}
                    <!--<rect {{!bind-attr x=experience.startYearInt width=experience.yearsInt}} y="100" height="20" style="fill: #FB6D5D;"/>-->
                {{!/each}}
                <!--<rect x="10" y="100" width="100" height="20" style="fill: #4CC0C1;"/>-->
                <!--<rect x="120" y="100" width="200" height="20" style="fill: #FB6D5D;"/>-->
                <!--<rect x="580" y="100" width="160" height="20" style="fill: #FFC300;"/>-->
                <!--<rect x="5%" y="100" width="160" height="20" style="fill: #FFC300;"/>-->
                <!--<line x1="0" y1="120" x2="100%" y2="120" stroke="#C0D0E0" stroke-width="1"/>-->
            <!--</svg>-->
        {{/view}}
    </div>

    <h2 id="portfolio">Portfolio</h2>
    <div class="projects">
        {{#each project in model.projects}}
            <div class="project">
                {{partial 'about/project'}}
            </div>
        {{/each}}
    </div>
    <h2 id="contacts">Contacts</h2>


</div>