<div class="wrapper">
    <div class="charts">
        {{#view "experienceChart"}}
            <div id="experience" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
        {{/view}}
    </div>
</div>
