<div id="aside-menu">
    <div class="logo">
        image
    </div>
    <div class="logo-text">
        <strong>blog</strong>
    </div>
</div>

<div class="wrapper">
    <div id="content">
        content
    </div>

    <div id="right-bar" class="pull-right">
        right-bar
        <div id="top-right-bar">
            top-right-bar
        </div>
    </div>
</div>

