{{headTitle 'Terms of Use and Terms of Service' '' ''}}
{{headDescription 'Terms of Use and Terms of Service' '' ''}}

<div id="terms">

  <h1 class="thin">DRKMEN Terms of Use and Terms of Service</h1>

  <h2 class="thin">DRKMEN Content</h2>

  <p>All content on this Site and Service, including designs, text, art work, graphics, images, screen shots,
    pictures, video, music, applications, digitally downloadable files, sound, trademarks, logos,
    product and character names, slogans, and the compilation of the foregoing ("Content")
    is the property of DRKMEN and internationally under intellectual property laws with all rights reserved.</p>

  <p>Third party content, including trademarks, trade names, characters, and trademarks
    and copyrights is the property of the third parties that market or license that content,
    and is used by DRKMEN subject to license, or subject to the fair use provisions of Ukraine.
    No Site or Service Content may be modified, copied, distributed,
    framed, reproduced, republished, downloaded, scraped, displayed, posted, transmitted,
    or sold in any form or by any means, in whole or in part, without DRKMEN's prior written permission.</p>

  <p>Provided that you are eligible, you are granted a limited license to access and use the Site and Service.
    You agree not to display or use any Content or third party content located on the Site in any publications,
    in public performances, for any commercial purpose, in connection with products or services that
    are not those of DRKMEN, in any other manner that is likely to cause confusion among consumers,
    that otherwise infringes DRKMEN's intellectual property rights.
    You agree not to misuse any Content that appears on this Site.
    Any use of the Site or its Content other than as specifically authorized herein,
    without the prior written permission of DRKMEN, is strictly prohibited.
    DRKMEN Membership and/or use of the Site and/or Service is revocable at any time without notice and with or without cause.</p>


  <div id="cookies">
    <h1>Privacy Policy on Cookies Usage</h1>

    <h2 class="thin">Privacy Statement:  How we use Cookies</h2>

    <p>Cookies are very small text files that are stored on your
      computer when you visit some websites.</p>

    <p>I am use cookies to help identify your computer so i can tailor your user
      experience and remember your social profile information if you use it.</p>

    <p>You can disable any cookies already stored on your computer, but these
      may stop mine website from functioning properly.</p>

    <p>The following is strictly necessary in the operation of our website.</p>

    <p><b>This Website Will:</b></p>
    <ol>
      <li>Remember your social profile picture</li>
      <li>Remember your social profile name</li>
      <li>Remember that you are logged in and that your session is secure.</li>
    </ol>

    <p>The following are not Strictly Necessary, but are required to provide you with the best
      user experience and also to tell me which pages you find most interesting (anonymously).</p>

    <h2 class="thin">Functional Cookies</h2>

    <p><b>This Website Will:</b></p>
    <ol>
      <li>Track the pages you visits via Google Analytics</li>
    </ol>


    <h2 class="thin">Targeting Cookies</h2>

    <p><b>This Website Will:</b></p>
    <ol>
      <li>Allow you to share pages with social networks such as Facebook, Vk, Twitter, Google+</li>
      <li>Allow you to login using your social profiles listed above</li>
    </ol>

    <p><b>This website will not</b></p>
    <ol>
      <li>Share any personal information with third parties.</li>
      <li>Save your emails or any personal data</li>
      <li>Use your email for spam</li>
    </ol>

  </div>

  <h1 class="thin">Your Options</h1>

  <p>If you cannot agree to abide and be bound by the foregoing Privacy Policy, please do not use the DRKMEN Site or Service.
    Your continued use the DRKMEN Site and Service constitutes your agreement to this Privacy Policy and any future revisions.</p>

</div>
