.charts {
  padding: 50px 100px 0 0;
}

.project-link {
  line-height: 55px;
}

.wrapper {
  &.about {
    padding: 50px 75px 0 75px;
    h1, h2, h3 {
      font-size: 50px;
      font-weight: 100;
    }
    .projects{
      position: relative;
      .project {
        content: "";
        height: 450px;
        z-index: 1;
        margin-bottom: 250px;
        position: relative;
        .project-index {
          position: relative;
          z-index: 2;
          background-color: #FFFFFF;
          width: 90%;
          height: 75px;
          top: -50px;
          padding: 0 25px;
          margin: 0 auto;
          .title {
            font-weight: 300;
            font-size: 40px;
          }
          .body {
            font-weight: 100;
            font-size: 20px;
          }

        }
      }
    } // projects
    .skill-chart {
      display: inline-block;
    }
    .skills {
      .skill {
        margin: 20px 10px;
        display: inline-block;
        .skill-level {
          text-align: center;
          font-weight: lighter;
          font-size: 25px;
          line-height: 20px;
        }
      }
    }
    .easypiechart {
      position: relative;
      text-align: center;
      display: inline-block;
    }
    .easypiechart .h2 {
      word-wrap: break-word;
      font-size: 120%;
      margin-top: 10px;
      display: inline-block;
    }
    .easypiechart canvas {
      position: absolute;
      top: 0;
      left: 0;
    }
    .easypiechart .easypie-text {
      position: absolute;
      z-index: 1;
      line-height: 1;
      font-size: 75%;
      width: 100%;
      top: 60%;
    }
    .easypiechart img {
      margin-top: -4px;
    }
    .color {
      &.html {
        color: #dadc00;
      }
      &.css {
        color: #87ffff;
      }
      &.scss {
        color: #2e90ff;
      }
      &.js {
        color: #ffc300;
      }
      &.ember {
        color: #ff7d00;
      }
      &.db {
        color: #8aff15;
      }
      &.ruby {
        color: #ff0d00;
      }
      &.rails {
        color: #bd0400;
      }
    }

  }
}


