.jspVerticalBar {
  height: 50%;
  top: 25%;
  background-color: #fff;
}
.jspTrack {
  width: 3px;
  background-color: #fff;
  padding-right: 2px;
}
.jspDrag {
  width: 2px;
  background-color: #F5F5F5;
  height: 100px!important;
}