!!!
%html
  %head
    %title Blog
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    %link{:href => "http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900", :rel => "stylesheet", :type => "text/css"}/
    = csrf_meta_tags
  %body
    = yield