!!!
%html
  %head
    %title drkmen | Mike B | WEB Developer Blog
    = favicon_link_tag
    = stylesheet_link_tag    'application', media: 'all'
    %link{:href => "http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900&subset=latin,cyrillic-ext", :rel => "stylesheet", :type => "text/css"}/
    = csrf_meta_tags
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
  %body
    = yield